<!DOCTYPE html>
<html ng-app='gilucApp' lang="fr">
<head>
  <title>Giluc</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>  
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js" %>

</head>
<body ng-controller='GilucCtrl'>

<%= yield %>

</body>
</html>
